@use '../abstracts/index' as *;

.loader {
    position: fixed;
    inset: 0;
    z-index: z(modal);
    @include flex($jc: center);
    background-color: c(white);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    &.is-fading {
        opacity: 0;
        transform: scale(1.5);
        pointer-events: none;
    }

    &-inner {
        @include flex(center, center, column);
    }

    &-logo {
        font-family: ff(serif);
        font-size: clamp(60px, 20vw, 120px);
        font-weight: 700;
        color: c(primary);
        opacity: 0;

        animation: doubleHeartbeatScale 3s ease-in-out forwards 0.5s;
    }
}

@keyframes doubleHeartbeatScale {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    10% {
        transform: scale(1.05);
        opacity: 1;
    }

    20% { transform: scale(1); }
    30% { transform: scale(1.05); }
    40% { transform: scale(1); }
    55% { transform: scale(1); }

    100% {
        transform: scale(1.4);
        opacity: 1;
    }
}
