@use '../abstracts/index' as *;

/* Pretendard GOV */
@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardGOV-Thin.woff2') format('woff2');
}
